.infocus {
  padding-top: 80px;
  padding-bottom: 40px;
  overflow-x: hidden;

  &__content {
    flex-direction: row;
    justify-content: space-between;

    /*Mobile*/
    @include mobile {
      flex-direction: row-reverse;
    }

    /*Mobile XS*/
    @include mobile-s {
      flex-direction: column;
    }
  }

  &__img {
    width: 570px;

    /*Tablet*/
    @include tablet {
      width: 420px;
    }

    /*Mobile*/
    @include mobile {
      width: 170px;
    }

    /*Mobile XS*/
    @include mobile-s {
      width: 290px;
    }
  }

  &__info {
    padding-top: 28px;
    width: 470px;

    /*Tablet*/
    @include tablet {
      padding-top: 20px;
      width: 420px;
    }

    /*Mobile*/
    @include mobile {
      padding-top: 0;
      width: 370px;
    }

    /*Mobile XS*/
    @include mobile-s {
      width: 290px;
      text-align: center;
    }
  }

  &__title {
    margin-bottom: 30px;

    /*Tablet*/
    @include tablet {
      margin-bottom: 20px;
    }

    /*Mobile XS*/
    @include mobile-s {
      margin-bottom: 10px;
    }
  }

  &__subtitle {
    margin-bottom: 30px;

    /*Tablet*/
    @include tablet {
      margin-bottom: 20px;
    }
  }

  &__desc {
    width: 400px;

    color: $section-desc-text;
    font-family: $main;
    font-size: 14px;
    font-weight: 500;
    line-height: 2.14;

    /*Tablet*/
    @include tablet {
      width: 420px;
    }

    /*Mobile*/
    @include mobile {
      width: 370px;
      line-height: 1.71;
    }

    /*Mobile XS*/
    @include mobile-s {
      width: 290px;
    }
  }

  /*Tablet*/
  @include tablet {
    padding-top: 50px;
    padding-bottom: 20px;
  }

  /*Mobile*/
  @include mobile {
    padding-top: 50px;
    padding-bottom: 0;
  }

  /*Mobile XS*/
  @include mobile-s {
    padding: 40px 0;
  }
}

.infocus__img {
  img {
    /*Mobile*/
    @include mobile {
      width: 415px;
      max-width: unset;
    }

    /*Mobile XS*/
    @include mobile-s {
      max-width: 100%;
      width: 290px;
    }
  }
}

.infocus__content > * {
  flex-shrink: 0;
}
