section.clients 
	.container 
		header.clients__header 
			.clients__title 
				h2.section-title наши клиенты
			.clients__subtitle 
				h3.section-subtitle Что говорят пользователи
		.clients__slider
			.slider
				button.slider__arrow.slider__arrow--left
					svg.svg-arrow
						use(href="./img/spriteSvg.svg#svg-arleft")
				button.slider__arrow.slider__arrow--right
						svg.svg-arrow
							use(href="./img/spriteSvg.svg#svg-arright")
				.slider-item.flex
					.slider-item__text
						p Это потрясающее приложение которое помогло мне завершить 	все 	мои дела, и сделать дипломный проект раньше срока. 
					.slider-item__author.flex
						.slider-item__avatar
							img(src="./img/users/user-1.webp", alt="User Avatar")
						.slider-item__name
							span Фрилансер 
							p Николай Остапов