section.flexible 
	.container 
		.flexible__content.flex
			.flexible__info
				.flexible__title 
					h2.section-title гибкое управление
				.flexible__subtitle 
					h3.section-subtitle Задачи и подзадачи
				.flexible__desc
					p Тактика выстраивания отношений с коммерчекими агентами, вопреки мнению П.Друкера, искажает продвигаемый отраслевой стандарт. Стратегический рыночный план традиционно масштабирует комплексный имидж. Спонсорство развивает формат события.
			.flexible__img 
				img(src="./img/flexible/flexible.webp", alt="Мобильный телефон со списком задач")