footer.footer 
	.container
		.footer__row.flex
			nav.footer__nav
				ul.footer-nav.flex 
					li.footer-nav__item
						a(href="#!").footer-nav__link о нас
					li.footer-nav__item
						a(href="#!").footer-nav__link блог
					li.footer-nav__item
						a(href="#!").footer-nav__link контакты
			.footer__social.flex 
				a.social-link
					svg.social-icon
						use(href="./img/spriteSvg.svg#svg-vk")
				a(href="#!").social-link
					svg.social-icon
						use(href="./img/spriteSvg.svg#svg-fb")
				a(href="#!").social-link
					svg.social-icon
						use(href="./img/spriteSvg.svg#svg-inst")
				a(href="#!").social-link
					svg.social-icon
						use(href="./img/spriteSvg.svg#svg-twit")
		.footer__copy 
			p 
				| Копирайт © 2019 
				span ЮНИТ
				|. Все права защищены.