section#functional.functional
	.container 
		.functional__header
			.functional__title
				h2.section-title функционал
			.functional__subtitle 
				h3.section-subtitle Получайте больше
		.functional__row.flex
			.card 
				svg.card__img
					use(href="./img/spriteSvg.svg#svg-file")
				h4.card__title Создан для управления
				p.card__desc Согласно ставшей уже классической работе Филипа Котлера, рекламная площадка отталкивает рейтинг.
			.card 
				svg.card__img
					use(href="./img/spriteSvg.svg#svg-microphone")
				h4.card__title Голосовое управление
				p.card__desc Согласно ставшей уже классической работе Филипа Котлера, рекламная площадка отталкивает рейтинг.
			.card 
				svg.card__img
					use(href="./img/spriteSvg.svg#svg-money")
				h4.card__title Контроль бюджета
				p.card__desc Согласно ставшей уже классической работе Филипа Котлера, рекламная площадка отталкивает рейтинг.
			.card 
				svg.card__img
					use(href="./img/spriteSvg.svg#svg-chart")
				h4.card__title Статистика и графики
				p.card__desc Согласно ставшей уже классической работе Филипа Котлера, рекламная площадка отталкивает рейтинг.