section.infocus 
	.container 
		.infocus__content.flex
			.infocus__img 
				img(src="./img/infocus/infocus.webp", alt="Планшет со списком задач")
			.infocus__info
				.infocus__title 
					h2.section-title всегда в фокусе
				.infocus__subtitle 
					h3.section-subtitle Множественные приоритеты
				.infocus__desc
					p Потребление существенно продуцирует рыночный традиционный канал. В соответствии с законом Ципфа, маркетинг основан на тщательном анализе данных. Наряду с этим, целевой трафик конкурентоспособен.
			