section.price
	.price__content 
		.container
			header.price__header 
				.price__title 
					h2.section-title.section-title--light цены
				.price__subtitle 
					h3.section-subtitle.section-subtitle--light Выберите подходящий план
			.price__row