section.price
	.price__content 
		.container
			header.price__header 
				.price__title 
					h2.section-title.section-title--light цены
				.price__subtitle 
					h3.section-subtitle.section-subtitle--light Выберите подходящий план
			.price__row.flex
				.package
					.package__header
						h4.package__title базовый
						.package__price 15
						.package__period $/мес
					ul.package__list
						li 10 проектов
						li 5 участников
						li ∞ количество задач
						li 5 GB медиа хранилище 
						li Поддержка по Email
					.package__button
						button.button-outline выбрать
				.package.package--special
					.package__header
						h4.package__title стандарт
						.package__price 65
						.package__period $/мес
					ul.package__list
						li 50 проектов
						li 10 участников
						li ∞ количество задач
						li 25 GB медиа хранилище 
						li Поддержка по Email
					.package__button
						button.button-solid выбрать
				.package
					.package__header
						h4.package__title премиум
						.package__price 125
						.package__period $/мес
					ul.package__list
						li 100 проектов
						li 30 участников
						li ∞ количество задач
						li 50 GB медиа хранилище 
						li Поддержка по Email
					.package__button
						button.button-outline выбрать