// fonts
$main: "Montserrat", sans-serif;

// colors
$overlay: rgba(0, 0, 0, 0.35);
$light-text: #fff;
$dark-text: #2e2e2e;
$accent-text: #15d784;
$input-bgc: rgba(0, 0, 0, 0.75);
$section-bg: #fff;
$card-desc-text: #808080;
