// fonts
$main: "Montserrat", sans-serif;

// colors
$overlay: rgba(0, 0, 0, 0.35);
$light-text: #fff;
$dark-text: #2e2e2e;
$accent-text: #15d784;
$input-bgc: rgba(0, 0, 0, 0.75);
$section-bg: #fff;
$card-desc-text: #808080;
$section-brd: #e1e1e1;
$section-desc-text: #808080;
$footer-bgc: #1a1a1a;
$footer-copy: rgba(255, 255, 255, 0.3);
