$width: 40px;
$height: 25px;
$barWidth: 20px;
$barHeight: 3px;
$barColor: #000;
$lineMargin: 4px;
$radius: 2px;

.burger {
  position: relative;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  width: $width;
  height: $height;
  cursor: pointer;

  @include tablet {
    display: flex;
  }
}

.burger-bar {
  position: relative;
  width: $barWidth;
  height: $barHeight;
  background-color: $barColor;
  border-radius: $radius;

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: $barWidth;
    height: $barHeight;
    background-color: $barColor;
    left: 0;
    transition: 0.3s;
    border-radius: $radius;
  }

  &::before {
    top: -($barHeight + $lineMargin);
  }

  &::after {
    top: $barHeight + $lineMargin;
  }
}

.burger.burger--active {
  & > .burger-bar {
    background-color: transparent;

    &::before {
      top: 0;
      transform: rotate(-135deg);
      background-color: $barColor;
    }

    &::after {
      top: 0;
      transform: rotate(135deg);
      background-color: $barColor;
    }
  }
}
