.section-title {
  color: $accent-text;
  font-family: $main;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;

  /*Mobile*/
  @include mobile {
    font-size: 14px;
  }
}
