extends ../layouts/layout.pug

block content
	include ../sections/_header.pug
	main 
		include ../sections/_functional.pug
		include ../sections/_cta.pug
		include ../sections/_flexible-controls.pug
		include ../sections/_infocus.pug
	include ../sections/_footer.pug
	
block variables
	-var title = "Unit - таск менеджер";
